{% extends '@app/pages/form.html.twig' %}
{% import "@app/meta/forms.html.twig" as forms %}

{% block secret1_form_group_class %}col-md-10{% endblock %}
{% block secret2_form_group %}{% endblock %}
{% block hash_form_group_class %}col-md-2{% endblock %}
{% block input_form_group %}
    <div class="form-group">
        <label for="secret">
            <em class="fas fa-fw fa-hashtag"></em>
            Encrypted string to decode
        </label>
        <div class="input-group">
            <input type="password" name="encrypted" class="form-field-encrypted form-control form-control-lg{% if form.errors.encrypted %} is-invalid{% endif %} js-tooltip" value="{{ form.data.encrypted }}" placeholder="Encrypted string to decode" data-toggle="tooltip" data-placement="top" title="Encrypted string to decode"/>
            <div class="input-group-append">
                <div class="btn btn-outline-warning btn-lg js-tooltip btn-show-text" role="button" for=".form-field-encrypted" data-toggle="button" data-toggle="tooltip" data-placement="top" title="Show encrypted string">
                    <em class="fas fa-fw fa-eye"></em>
                </div>
            </div>
            {{ forms.error(form, 'encrypted') }}
        </div>
    </div>
{% endblock %}
