{% extends '@app/pages/form.html.twig' %}
{% import "@app/meta/forms.html.twig" as forms %}

{% block input %}
    <div class="input-group-prepend">
        <span class="input-group-text">
            <em class="fas fa-fw fa-eye-slash"></em>
        </span>
    </div>
    <input type="text" name="encrypted" class="form-control form-control-lg{% if form.errors.encrypted %} is-invalid{% endif %} js-tooltip" value="{{ form.data.encrypted }}" placeholder="Encrypted string to decode"  data-toggle="tooltip" data-placement="top" title="Encrypted string to decode"/>
    {{ forms.error(form, 'encrypted') }}
{% endblock %}
