{% extends '@app/pages/form.html.twig' %}
{% import "@app/meta/forms.html.twig" as forms %}

{% block input_form_group %}
    <div class="form-group">
        <label for="secret">
            <em class="fas fa-fw fa-comment-alt"></em>
            Plain text message to encode
        </label>
        <textarea rows="1" name="decrypted" id="decrypted" class="form-field-decrypted no-resize form-control form-control-lg{% if form.errors.decrypted %} is-invalid{% endif %} js-tooltip" placeholder="Your message to encode. You can write plain text or add values as 'key: value' separated by new line. Key might be FontAwesome icon code." data-toggle="tooltip" data-placement="top" title="Your message to encode. You can write plain text or add values as 'key: value' separated by new line. Key might be FontAwesome icon code." {% if form.autofocus == 'decrypted' %} autofocus{% endif %}>
            {{- form.data.decrypted -}}
        </textarea>
        {{ forms.error(form, 'decrypted') }}
    </div>
{% endblock %}
