{% extends '@app/pages/form.html.twig' %}
{% import "@app/meta/forms.html.twig" as forms %}

{% block input_form_group %}
    <div class="form-group">
        <label for="secret">
            <em class="far fa-fw fa-comment-alt"></em>
            Plain text string to encode
        </label>
        <textarea rows="1" name="decrypted" id="decrypted" class="form-field-decrypted form-control form-control-lg{% if form.errors.decrypted %} is-invalid{% endif %} js-tooltip" style="resize:none" placeholder="Your plain text string to encode" data-toggle="tooltip" data-placement="top" title="Your plain text string to encode">
            {{- form.data.decrypted -}}
        </textarea>
        {{ forms.error(form, 'decrypted') }}
    </div>
{% endblock %}


 {% block scripts %}
     {{ parent() }}
     <script>
         var textarea = document.getElementById("decrypted");
         var limit = 180;
         textarea.oninput = function () {
             textarea.style.height = "";
             console.log(textarea.scrollHeight)
             textarea.style.height = Math.min(textarea.scrollHeight, limit) + "px";
         };
     </script>
 {% endblock %}
