Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule ^crypt-(.*).html /index.php?action=decrypt&encrypted=$1 [L]
RewriteRule ^decrypt.html /index.php?action=decrypt [L]
RewriteRule ^encrypt.html /index.php?action=encrypt [L]

Satisfy any

RewriteRule ^.*\.git.* - [R=404]
